body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container {

  /* We first create a flex layout context */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
   flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  width: auto;
  margin: auto;
}
